{% extends 'base.html' %}
{% block content %}
<div class="row mt-5">
    <div class="col-md-12">
        <h2>Carrito de Compras</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID Producto</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in carrito %}
                    <tr>
                        <td>{{ producto.id_producto }}</td>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.precio }}</td>
                        <td>{{ cantidad }}</td>
                        <td class="text-center">
                            <form action="Editar_carrito/" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="producto_id" value="{{ producto.id_producto }}">
                                <button type="submit" class="btn btn-danger btn-md">Editar</button>
                            </form>
                        </td>
                        <td class="text-center">
                            <form action="Eliminar_carrito/" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="producto_id" value="{{ producto.id_producto }}">
                                <button type="submit" class="btn btn-danger btn-md">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="text-end">
            <a href="realizar_compra/" class="btn btn-primary btn-lg">Realizar Compra</a>
        </div>
    </div>
</div>
</div>

{% endblock content %}
